body {
  background-color: rgb(143, 213, 190);
  max-width: 1024px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  text-align: center;
}

.addTaskBox,
.taskList {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: flex-start;
}

.subtitle {
  margin-top: 1em;
}

.addTask {
  padding: 0.5em 0.7em;
  border: 3px white solid;
  background-color: whitesmoke;
}
.addTask:focus-visible {
  outline-color: rgb(68, 161, 218);
  outline-offset: 0px;
  outline-style: dashed;
  outline-width: 4px;
}

.button {
  font-family: inherit;
  font-size: 1.1em;
  padding: 0.5em 0.7em;
  border: 3px white solid;
  background-color: rgb(68, 161, 218);
}

.taskBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.taskBox__notasks {
  background-color: rgb(153, 228, 203);
  padding: 3rem 1rem;
  text-align: center;
  color: rgba(111, 111, 111, 0.814);
  font-size: 1.5rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 242, 227);
  padding: 5px;
  margin: 5px;
}
.task__text {
  padding: 0 1rem;
}

.checkmark {
  max-width: 100%;
  width: 6%;
}